.width-10 {
    width: 10%;
}

.width-60{
    width: 60%;
}

.width-30{
    width: 30%;
}

.width-100{
    width: 100%;
}

.height-100{
    height: 100%;
}

.logout {
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 5%;
}

.logout-btn {
    border-radius: 5px;
}

.logoPic{
    width: 100%;
    margin-left: 20%;
    margin-top: 5%;
}

.postsList{
    margin-top: 4%;
}